
<button type="button" class="btn btn-info pulsante-sopra-tabella" (click)="Aggiungi()">Aggiungi</button>

  <div class="table-responsive-md ">
  <table class="table center">

    <thead>

      <tr>
        <th scope = "col">Id</th>
        <th scope = "col">Nome</th>
        <th scope = "col">Cognome</th>
        <th scope = "col">Sesso</th>
        <th scope = "col">Data Di Nascita</th>
        <th scope = "col"> Azioni </th>
      </tr>
    </thead>

      <tbody>
          <tr *ngFor="let employeData of data; index as i">
            <th scope="row">{{employeData.id}}</th>
            <td>{{employeData.firstName}}</td>
            <td>{{employeData.lastName}}</td>
            <td>{{employeData.gender}}</td>
            <td>{{employeData.birthDate}}</td>
            <button type="button" class="btn btn-warning" (click)="openDialog(employeData)">Modifica</button>
            <button type="button" class="btn btn-danger" (click)="Elimina(i)"> Elimina </button>
          </tr>
      </tbody>

  </table>
  </div>



